*.html.php
.DS_Store
.ide
*.log
*.lock
.tea
.htaccess
route.php
*payment_*_respond.php
*payment_*_notify.php
shopxo.IAB
shopxo.IAD
shopxo.IMB
shopxo.IMD
shopxo.PFI
shopxo.PO
shopxo.PR
shopxo.PRI
shopxo.PS
shopxo.WK3
shopxo-1.4.0-si4.si4project
